<h1>Delicious Burgers!</h1>

<div class="container">
  <div class="row">
    <div class="col-sm"><h2>Fresh burgers!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>



</div>
    <div class="col-sm">
      <img width="75%" src="https://2yw6hl18xgcx2ovds7nmmeug-wpengine.netdna-ssl.com/wp-content/uploads/2019/03/16013091_web1_190320-VMS-randy.jpg" alt="randy from trailerpark boys with burgers">
    </div>
    <div class="col-sm"><h2>Eaten Burgers</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul></div>
  </div>
</div>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="burger" name="name">
  </div>
  <button type="submit">Add Burger</button>
</form>
